body {
    background: rgb(99, 98, 125);
  }
  
  .container {
    display: flex ;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .field{
    border: 1px solid black;
    display: flex;
  }
  
  #pass{
  height: 1vh;
  margin-top: 0.6rem;
  cursor: pointer;
  }
  .message{
    color: #dfdfdf;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    text-decoration: underline;
  }
  form {
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: #fff;
  }
  .form {
    width: 92%;
    text-align: center;
}
input {
  padding: 0.7rem;
  width: 100%;
  font-size: x-large;
  border: none;
}
 
  
.button {
  background: #055a0b;
  width: 100%;
  height: 7vh;
  font-size: xx-large;
  margin-bottom: 1rem;
  font-weight: bold;
}
  p {
    color: rgba(255, 0, 0, 0.567);
    text-align: start;
  }